.ss-base-body{
    background: orange linear-gradient(orange ,red ,yellow,blue,orange);
}
.ss-top-of-page{
text-align:center;
}
.ss-form-container{
    /* background: #fffefa url(../images/fondo-no-inscripcion.png); */
    background-image: url(../images/fondo-no-inscripcion.png);
    background-position: center;
    z-index:-1;
    /* background-blend-mode: multiply; */
}



.ss-form{
padding:1rem;
}

.ss-form-gray{
     background: #f5f3f3 ;
/*      opacity:0.5% */
}
.ss-form-entry{
/* border: orange 1px solid; */
margin-top: 2rem;
/* display: flex; */
}


.ss-q-title{
font-size:1.1rem;
font-weight:bold;
}

.ss-q-help.ss-secondary-text{
color:gray;
font-size:0.7rem;
}

.ss-q-short,.ss-q-long, .ss-q-date{
display: block;
color:gray;
min-width: 50%;
}
.fillup-checkbox-input{
display: block;
color:gray;
min-width: 100%;
}

.ss-choices{
color:gray;
list-style-type: none;
}
.ss-choice-item{
text-align: start;
}

.error-message{
display:none;
}
.required-message, .ss-required-asterisk{
    color: #f44336;
    font-size: 0.85rem;
    font-weight: bold;
}
/* .required-message, .ss-required-asterisk{color: #FF9800;    font-size: 0.8rem;} */
.required-message{
background-color: #ffefee;
}

#ver input[readonly], #ver textarea[readonly]{
background: rgba(128, 128, 128, 0.0784313725490196);
border: none;
/* text-align: center; */
}

#ver .ss-choices, #ver .ss-q-help.ss-secondary-text {
display:none;
background: rgba(128, 128, 128, 0.0784313725490196);
border: none;
text-align: center;
}