

.custom-nav{
    padding: 1rem 0 1rem 0;
    background: rgba(0, 188, 212, 0.14901960784313725) linear-gradient(rgba(0, 188, 212, 0.14901960784313725), white);
    }
    
    .custom-footer{
        background: #252f35;
        color: #9E9E9E;
    }
    div.custom-footer{
        padding: 1rem;
        border-top: 1px rgba(128, 128, 128, 0.23921568627450981) solid;
    }
    
    .content-start{
        margin: 2rem 0 2rem 0;
    }