.main-message{
    background: #e0e7ee;
    /* border-radius: 16px; */
    padding: 2rem;
    color: #212529;
    margin-bottom: 2rem;
    }

    .inscripcion-day{
        font-weight: bold;
        color: #F44336;
}

    .disclaimer-txt{
        padding: 2rem 0 0 0;
        font-size: 0.8rem;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .popup-message{
        /* background-color: gray; */
        -webkit-animation-name: mensajeAlUsuario; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
        animation-name: mensajeAlUsuario;
        animation-duration: 4s;
      }

      /* Safari 4.0 - 8.0 */
      @-webkit-keyframes mensajeAlUsuario {
        from {background-color: #FFEB3B;}
        to {background-color: transparent;}
      }

      /* Standard syntax */
      @keyframes mensajeAlUsuario {
        from {background-color: #FFEB3B;}
        to {background-color: transparent;}
      }


.report-event-table{
  border-collapse: collapse;
  width:100%;
}

.report-event-table th, .report-event-table td{
  border: 1px solid #e0e7ee;
  text-align: left;
  padding: 0.5rem;
}

.report-event-table tr:nth-child(even){
    background-color: #f7f2e9;

}
